<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>ConnectionDatabase</listener-class>
    </listener>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/film_portal?</param-value>
    </context-param>
    <context-param>
        <param-name>userName</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet>
        <servlet-name>Store_Poster</servlet-name>
        <servlet-class>Store_Poster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendConfirmationMail</servlet-name>
        <servlet-class>SendConfirmationMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcp_trailer</servlet-name>
        <servlet-class>Dcp_trailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_trailer</servlet-name>
        <servlet-class>Web_trailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_webtrailer</servlet-name>
        <servlet-class>delete_webtrailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_dcptrailer</servlet-name>
        <servlet-class>delete_dcptrailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>press_material</servlet-name>
        <servlet-class>press_material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_press</servlet-name>
        <servlet-class>delete_press</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_screen</servlet-name>
        <servlet-class>add_screen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_screen</servlet-name>
        <servlet-class>delete_screen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_check</servlet-name>
        <servlet-class>login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortfilm</servlet-name>
        <servlet-class>sortfilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortyear</servlet-name>
        <servlet-class>sortyear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortgenre</servlet-name>
        <servlet-class>sortgenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchfilm</servlet-name>
        <servlet-class>searchfilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>data_pool</servlet-name>
        <servlet-class>data_pool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkstatus</servlet-name>
        <servlet-class>checkstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortlender</servlet-name>
        <servlet-class>sortlender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>film_edit</servlet-name>
        <servlet-class>film_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>Connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>addcategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Store_Poster</servlet-name>
        <url-pattern>/Store_Poster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendConfirmationMail</servlet-name>
        <url-pattern>/SendConfirmationMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcp_trailer</servlet-name>
        <url-pattern>/Dcp_trailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_trailer</servlet-name>
        <url-pattern>/Web_trailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_webtrailer</servlet-name>
        <url-pattern>/delete_webtrailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_dcptrailer</servlet-name>
        <url-pattern>/delete_dcptrailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>press_material</servlet-name>
        <url-pattern>/press_material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_press</servlet-name>
        <url-pattern>/delete_press</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_screen</servlet-name>
        <url-pattern>/add_screen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_screen</servlet-name>
        <url-pattern>/delete_screen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_check</servlet-name>
        <url-pattern>/login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortfilm</servlet-name>
        <url-pattern>/sortfilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortyear</servlet-name>
        <url-pattern>/sortyear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortgenre</servlet-name>
        <url-pattern>/sortgenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchfilm</servlet-name>
        <url-pattern>/searchfilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data_pool</servlet-name>
        <url-pattern>/data_pool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkstatus</servlet-name>
        <url-pattern>/checkstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortlender</servlet-name>
        <url-pattern>/sortlender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>film_edit</servlet-name>
        <url-pattern>/film_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        30
    </session-timeout>
    </session-config>
</web-app>
